<plugins>
    <plugin id="com.example.hello"
            url="https://jangwonikk.github.io/sample-plugin-1.0.zip"
            version="1.0.0">
        <idea-version since-build="223.0"/>
        <name>OAS Plugin</name>
        <description>One-click regenerate plugin</description>
        <vendor>your-team</vendor>
    </plugin>
</plugins>
